@page
@model Cookit.WebApp.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<img src="~/images/@Model.Recipe.ImageFileName" />
<h4>@Model.Recipe.Title</h4>
<p>@Model.Recipe.Description</p>

<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-4 offset-4">
                <h6 class="text-center">Equipment</h6>
            </div>
        </div>
        <div class="row">
            @foreach (var requip in Model.Recipe.RecipeEquipment)
            {
                <div class="col">
                    <p>@requip.Equipment.Name</p>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <h6 class="text-center">Ingredients</h6>
            </div>
        </div>
        <div class="row">
            @foreach (var ingAmount in Model.Recipe.IngredientAmounts)
            {
                <div class="col-6 text-center">
                    <p>@ingAmount.Ingredient.Name</p>
                </div>
                <div class="col-6">
                    <p><span>@ingAmount.Amount</span> <span>@ingAmount.Unit</span></p>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <h6 class="text-center">Instructions</h6>
            </div>
        </div>
        @foreach (var instruction in Model.Recipe.Instructions)
        {
            <div class="row">
                <div class="col-2">
                    <p>@instruction.Step</p>
                </div>
                <div class="col-8">
                    <p>@instruction.Description</p>
                </div>
            </div>
        }

    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
